/*
Header Section style
*/
body{
    font-family: 'Open Sans', sans-serif;
}
.g3{
    font-size: 45px;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
    margin-left: auto;
}
.header-about{
    font-size: 18px;
    font-weight: 500;
    margin-top: 66px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
}
.header-about a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    padding: 0 0px;
}

.brand{
    font-weight: 700;
    font-size: 64px;
    color: rgba(19, 19, 19, 1);
    text-align: center;
}
.brand p{
    margin-top: 0;
    margin-bottom: 0px;
}
.brand-p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
    width: 50%;
    margin: 0 auto 10px;
}
.explore-head1{
    display: flex;
    justify-content: center;
}
.explore-more1{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    width: 140px;
    height: 50px;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 3px;
    background-color: rgba(255, 144, 14, 1);
    margin-bottom: 30px;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner img{
    width: 70%;
    height: 500px;
    margin-bottom: 30px;
}
.section-1{
    background-color: rgba(255, 144, 14, 0.1);
}
.mes{
    display: flex
}


 
 @media only screen and (max-width:768px) {
    .mes{
        flex-direction: column;
    }
    .g3{
        margin: auto;
    }
    .brand-p{
        width: 80%;
        margin: 0 auto 10px;
    }
 } 



 /* 
 Main part section 1 style
  */
  .team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    margin-right: 40px;
  }
  .section-2{
    display: flex;
    margin-left: 13%;
    margin-right: 30px;
    margin-bottom: 40px;
  }
  .explore-more2{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    width: 140px;
    height: 50px;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 3px;
    background-color: rgba(255, 144, 14, 1);
  }
  .quick-list{
    color: rgba(114, 114, 114, 1);
    font-size: 45px;
    font-weight: 500;
    margin: 0;
  }
  .of-our{
    font-size: 45px;
    font-weight: 500;
    color: rgba(19, 19, 19, 1);
    margin: 0;
  }
  .features{
    color: rgba(255, 144, 14, 1);
    font-size: 45px;
    font-weight: 500;
    margin: 0;
  }
  .team-p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
    width: 70%;
  }
.team-pra-section{
    margin: auto auto;
}
.main-part-1{
    margin-top: 40px;
}
@media only screen and (max-width:768px) {
.section-2{
    flex-direction: column-reverse;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
}
.section-2{
    margin: 0;
}

.team-p{
    width: 50%;
}
.team-pra-section{
    margin-left: 26%;
    margin-bottom: 20px;
}
}


/* 
Main part-2 style
*/

.section3-title{
    font-size: 45px;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;
}
.section3-pra{
    font-size: 16px;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
    border: 0px solid whitesmoke;
    width: 600px;
    border-radius: px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.article-title{
    font-size: 20px;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
}
.article-pra{
    font-size: 16px;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
}
.article-head{
    width: 490px;
    height: 150px;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    margin-bottom: 30px;
    padding-left: 20px;
}
.section-3{
    display: flex;
    margin: 80px 14%;
}

.button3{
    background-color: rgba(255, 144, 14, 1);
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 4px;
    width: 180px;
    height: 100px;
    position: relative;
    top: -75px;
    left: -50px;
}
.year{
    font-size: 35px;
    font-weight: 600;
    color: #FFFFFF;
}
.exp{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.arti-img{
    width: 500px;
}

@media only screen and (max-width:768px) {
    .section-3{
        flex-direction: column-reverse;
    }
    .button3{
        left: +40%;
    }
    .arti-img{
        width: 80%;
    }
    .article-header{
        margin-left: 0px;
    }
    .article-head{
        width: 400px;
    }
    .section3-pra{
        width: 400px;
    }
}

/* 
main part 3 style
*/
.main3-title{
    font-size: 40px;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
    margin: 0;
}
.main3-pra{
    font-size: 16px;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
    width: 600px;
}
.main3-head{
    margin-left: 10%;
    margin-bottom: 50px;
}
.icone-head{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.icone-header{
    border: 1px solid rgba(255, 144, 14, 1);
    text-align: center;
    padding: 20px;
    margin: 0 auto;}
.letter{
    font-size: 30px;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
    margin: 0;
}
.award-name{
    font-size: 15px;
    font-weight: 500;
    color: rgba(114, 114, 114, 1);
    margin: 0;
}
.icone-header:hover{
    background-color: rgba(0, 95, 172, 1);
    border: 1px solid rgb(176, 5, 229);
}
.letter:hover{
    color: rgba(255, 255, 255, 1);
}
.award-name:hover{
    color: rgba(255, 255, 255, 1);
}
.section-4{
    margin-bottom: 100px;
}
@media only screen and (max-width:768px) {
    .main3-head{
        margin-left: auto;
    }
    .icone-head{
        margin-left: 10px;
        margin-left: auto;
        margin-right: auto;
        grid-column-gap: 5%;
    }
    .section-4{
        margin-left: 16px;
    }
}
/* 
footer part style
*/
.footer-title{
    font-size: 40px;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
    margin: 0;
    text-align: center;
}
.footer-pra{
    font-size: 16px;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
    width: 20%;
    margin: 0 auto;
    text-align: center;
}
.footer-head{
    margin-bottom: 20px;

}
.sponspors{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
@media only screen and (max-width:768px){
    .footer-pra{
        width: 50%;
    }
    .img-end{
        width: 80px;
    }
    .sponspors{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 5%;
        margin: 0;
    }
    .sopi{
        margin-left: 10px;
    }
}

/*
footer end part style
*/
.footer-end-title{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    color: rgba(66, 66, 66, 1);
}
.footer-end{
    background-color: rgba(255, 244, 231, 1);
    border: 1px solid rgba(255, 244, 231, 1);
    margin: 30px 10% 40px 10%;
}
